body {
    margin: 0%;
    padding: 0%;
    background-color: #082767;
    background-image: url(https://i.pinimg.com/originals/67/d0/32/67d0329ea4004979ec3b37d067da6528.gif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
    text-shadow:#000001;
    color:#ffffff;
    display: table;
    width: 100%;
    height: 100vh;
    text-decoration: none;
  }

  p {
    background-color: red;
    padding: 10px;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, Fantasy;
    text-shadow: 2px 2px #C0C0C0
  }

  img {
    width: 100px;
    height: 100px;
    margin-right:150; 
    margin-left:150;
  }

  h5{
    color:#e208ff;
    background-color:#53036e;
    text-shadow:#000001;
    text-align: center;
  }

  h4{
    text-shadow: 2px 1px #030202;
  }

  h3{
    text-decoration:underline black 1px;
    color: whitesmoke;
  } 
  h6{
  visibility: hidden;
}

  iframe{
    border-radius: 40px;
  }
     ul { list-style-type: katakana; color: rgb(209, 209, 209); 
      
  }
  #butao{
    background-color: rgb(44, 0, 46);
    color: whitesmoke;
    border-radius: 3px;
    border:1px solid;
    padding: 3px 5px;
    text-decoration: none;
  }

  #butao:hover{ 
    background-color: rgb(62, 0, 87);
width: 8%;
transition: width 1.0s;
  }

  #butao:hover:before {
    width:100px;
    content: 'Ir para a tabela';
  }

#vitor {
      text-decoration: underline black 1px;
      color: whitesmoke;
  }

#vitor:hover{
  color: white;
  font-size: 110%;
}

  #insta{
    text-decoration: none;
    color: rgb(218, 218, 218);     
  }

  #insta:hover{
    color: whitesmoke;
    font-size: 115%;
  }

  #zap{
    color: rgb(223, 223, 223);
    text-decoration: none;
  }

  #zap:hover{
    color: whitesmoke;
    font-size: 115%;
  }
  
  #arma{
    width: 100px;
    height: 100px;
    margin-right:150; 
    margin-left:150;
  }

  * {
    margin: 0;
    padding: 0;
    }
   
   /*Estilizando a nav da classe menu */
    .menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: Arial;
    }
   
   /*Estilizando as listas */
    .menu ul {
    list-style: none;
    position: relative;
    }
   
   .menu ul li {
    width: 150px;
    float: left;
    }
   
   .menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    }
   
   .menu ul ul {
    position: absolute;
    visibility: hidden;
    }
   
   .menu ul li:hover ul {
    visibility: visible;
    }
   
   .menu a:hover {
    background-color: #f4f4f4;
    color: #555;
    }
   
   .menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
    }
   
   .menu ul ul li a {
    background-color: #069;
    }
   
   /*Criando o label */
    label[for=”bt_menu”]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
   
   #bt_menu {
    display: none;
    }
   
   label[for=”bt_menu”]{
    display: none;
    }
   
   /*Deixando o Menu Responsivo */
   @media(max-width: 800px) {
   label[for=”bt_menu”] {
    display: block;
    }
     
   #bt_menu:checked ~ .menu{
    margin-left: 0;
    }
     
   .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    }
     
   .menu ul li {
    width: 100%;
    float: none;
    }
     
   .menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all 4s;
    }
     
   .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    }
   } 
    #discord {
        background:#069;;
        border: none;
        font-size: 10px;
        padding: 5px 5px;
        width: 150px;
        height: 47px;
        font-size: 15px;
        cursor: pointer;
    }
    #discord:hover{
       background-color: #f4f4f4;
    color: rgb(255, 255, 255);
    }